$backgroundColor = #ffffff;

.tabbed-example
    margin 1em 0

.tabbed-example-tabs
    border solid 1px $borderColor
    border-radius 6px
    margin-bottom 5px

@media (min-width: 700px)
    .tabbed-example-tabs
        border 0
        align-items stretch
        display flex
        justify-content flex-start
        margin-bottom -1px

.tabbed-example-tab
    background-color darken($backgroundColor, 7)
    color lighten($textColor, 30)
    font-size 12px
    font-weight 600
    margin-right 0
    list-style none
    &:not(:last-child)
        border-bottom solid 1px $backgroundColor
    &:hover
        color lighten($borderColor, 20)
    &.is-active
        background-color $backgroundColor
        color $textColor
    &.is-disabled
        *
            color darken($backgroundColor, 20)
            cursor not-allowed !important

@media (min-width: 700px)
    .tabbed-example-tab
        border solid 1px $borderColor
        border-radius 3px 3px 0 0
        margin-right .5em
        transform translateY(2px)
        transition transform .3s ease
        &.is-active
            border-bottom solid 1px $backgroundColor
            z-index 2
            transform translateY(0)

.tabbed-example-tab-a
    align-items center
    color inherit
    display flex
    padding .5em .75em
    text-decoration none

.tabbed-example-panels
    padding 1em 0

@media (min-width: 700px)
    .tabbed-example-panels
        border-top-left-radius 0
        border solid 1px $borderColor
        border-radius 0 6px 6px 6px
        box-shadow 0 0 10px rgba(0, 0, 0, .05)
        padding 0 1em
