<!DOCTYPE html>
<?js var that = this; ?>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><?js= this.navOptions.systemName ?> <?js= title ?></title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.<?js= this.navOptions.syntaxTheme ?>.css">

	<link type="text/css" rel="stylesheet" href="styles/site.<?js= this.navOptions.theme ?>.css">

</head>

<body>
<div class="container-fluid">
	<div class="navbar navbar-fixed-top <?js= this.navOptions.inverseNav ? 'navbar-inverse' : '' ?>">
		<div class="navbar-inner">
			<a class="brand" href="<?js= this.nav.index.link ?>"><?js= this.nav.index.title ?></a>
			<ul class="nav">
				<?js this.nav.topLevelNav.forEach(function(entry){ ?>
				<li class="dropdown">
					<a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?><b
						class="caret"></b></a>

					<ul class="dropdown-menu <?js= that.navOptions.navType ==='inline' ? 'inline' : '' ?>">
						<?js entry.members.forEach(function(member){ ?>
						<li>
							<?js= member ?>
						</li>
						<?js	}); ?>

					</ul>
				</li>
				<?js }); ?>
			</ul>
		</div>
	</div>

	<div class="row-fluid">

		<?js if(docs && docs[0].kind !== "source"){ ?>
		<div class="span8">
			<?js }else{ ?>
			<div class="span12">
				<?js } ?>
				<div id="main">
					<?js= content ?>
				</div>

				<div class="clearfix"></div>
				<footer>
					<?js if (that.navOptions.footer.length > 0){ ?>
					<?js= that.navOptions.footer ?>
					<br />
					<?js } ?>
					<?js if (that.navOptions.copyright.length > 0){ ?>
		<span class="copyright">
		<?js= that.navOptions.copyright ?>
		</span>
					<br />
					<?js } ?>
		<span class="jsdoc-message">
		Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
		on <?js= (that.moment().format(that.navOptions.dateFormat)) ?> using the <a
			href="https://github.com/terryweiss/docstrap">DocStrap template</a>.
		</span>
				</footer>
			</div>

			<?js if(docs && docs[0].kind !== "source"){ ?>
			<div class="span3">
				<div id="toc"></div>
			</div>
			<?js } ?>
			<br clear="both">
		</div>

	</div>
	<script src="scripts/sunlight.js"></script>
	<script src="scripts/docstrap.lib.js"></script>
	<script src="scripts/bootstrap-dropdown.js"></script>
	<script src="scripts/toc.js"></script>

	<script>
		$( function () {
			$( "[id*='$']" ).each( function () {
				var $this = $( this );

				$this.attr( "id", $this.attr( "id" ).replace( "$", "__" ) );
			} );

			$( "#toc" ).toc( {
				anchorName  : function ( i, heading, prefix ) {
					return $( heading ).attr( "id" ) || ( prefix + i );
				},
				selectors   : "h1,h2,h3,h4",
				showAndHide : false,
				scrollTo    : "100px"
			} );

			$( "#toc>ul" ).addClass( "nav nav-pills nav-stacked" );
			$( "#main span[id^='toc']" ).addClass( "toc-shim" );
			$( '.dropdown-toggle' ).dropdown();
			$( "pre" ).addClass( "sunlight-highlight-javascript" ).addClass( "linenums" );

			$( "pre" ).each( function () {
				var $this = $( this );

				var example = $this.find( "code" );
				exampleText = example.html();
				var lang = /{@lang (.*?)}/.exec( exampleText );
				if ( lang && lang[1] ) {
					exampleText = exampleText.replace( lang[0], "" );
					example.html( exampleText );
					lang = lang[1];
				} else {
					lang = "javascript";
				}

				if ( lang ) {

					$this
						.addClass( "sunlight-highlight-" + lang )
						.addClass( "linenums" )
						.html( example.html() );

				}
			} );

			Sunlight.highlightAll( {
				lineNumbers : <?js= this.navOptions.linenums || false ?>,
				showMenu : true,
				enableDoclinks : true
			} );
		} );
	 </script>



	<!--Navigation and Symbol Display-->
	<?js if (this.navOptions.collapseSymbols) { ?>
	<script>
		$( function () {
			$( '#main' ).localScroll( {
				offset : { top : 60 } //offset by the height of your header (give or take a few px, see what works for you)
			} );
			$( "dt.name" ).each( function () {
				var $this = $( this ).find("h4");
				var icon = $( "<i/>" ).addClass( "icon-plus-sign" ).addClass( "pull-right" ).addClass( "icon-white" );
				var dt = $(this);
				var children = dt.next( "dd" );

				dt.prepend( icon ).css( {cursor : "pointer"} );
				dt.addClass( "member-collapsed" ).addClass( "member" );


				children.hide();

				dt.children().on( "click", function () {
					children = dt.next( "dd" );
					console.debug(dt, children)
					children.slideToggle( "fast", function () {

						if ( children.is( ":visible" ) ) {
							icon.addClass( "icon-minus-sign" ).removeClass( "icon-plus-sign" ).removeClass( "icon-white" );
							dt.addClass( "member-open" ).animate( "member-collapsed" );
						} else {
							icon.addClass( "icon-plus-sign" ).removeClass( "icon-minus-sign" ).addClass( "icon-white" );
							dt.addClass( "member-collapsed" ).removeClass( "member-open" );
						}
					} );
				} );

			} );
		} );
	</script>
	<?js } ?>


	<!--Google Analytics-->
	<?js if (this.navOptions.analytics && this.navOptions.analytics.ua && this.navOptions.analytics.domain) { ?>
	<script>
		(function ( i, s, o, g, r, a, m ) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push( arguments )
			}, i[r].l = 1 * new Date();
			a = s.createElement( o ),
				m = s.getElementsByTagName( o )[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore( a, m )
		})( window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga' );

		ga( 'create', '<?js= this.navOptions.analytics.ua ?>', '<?js= this.navOptions.analytics.domain ?>' );
		ga( 'send', 'pageview' );
	</script>
	<?js } ?>

</body>
</html>
