$bgColor = #1E1E1E;
$mediumBgColor = #252525;
$lightBgColor = #383838;
$accentColor = #e0b24d;
$textColor = #DDDDDD;
$borderColor = #383838;

html, body {
  background-color: $bgColor !important;
}

a:focus, button:focus  {
  // Remove ugly mozilla outline.
  outline: none;
}

.theme-container {
  background-color: $bgColor;

  h2 {
    padding-bottom: 1rem;
  }

  h5 {
    font-size: 14px;
  }

  .page {
    background-color: $bgColor;
  }

  .navbar {
    background-color: $mediumBgColor;

    .links {
      background-color: $mediumBgColor;

      .search-box {
        input {
          background-color: $lightBgColor;
        }

        .suggestions {
          background-color: $mediumBgColor;
          border-color: $lightBgColor;

          .suggestion.focused {
            background-color: $lightBgColor;
          }
        }
      }
    }
  }

  .content {
    code {
      background-color: lighten($bgColor, 6%);
    }
  }

  .sidebar {
    background-color: $mediumBgColor;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .dropdown-wrapper {
    .nav-dropdown {
      background-color: $mediumBgColor;
      border-color: $lightBgColor;
    }
  }

  .custom-block {
    color: $textColor;

    &.tip {
      background-color: $lightBgColor;
    }
  }

  .hero {
    .action-button  {
      color: $mediumBgColor;
    }
  }

  th, td {
    border-color: #666666;
  }

  tr:nth-child(2n) {
    background-color: lighten($bgColor, 2%);
  }

  .algolia-search-wrapper .algolia-autocomplete .ds-dropdown-menu {
    background-color: $bgColor;
    border-color: $lightBgColor;

    .algolia-docsearch-suggestion--category-header {
      background-color: $bgColor;
      color: $textColor;
      border: none;
      border-radius: unset;
    }

    .algolia-docsearch-suggestion--content:before {
      background-color: $lightBgColor;
    }

    [class*=ds-dataset-] {
      background-color: $bgColor;
    }

    .algolia-docsearch-suggestion {
      background-color: $borderColor;
    }

    .algolia-docsearch-suggestion--subcategory-column {
      background-color: lighten($bgColor, 2%);
    }

    .algolia-docsearch-suggestion--content {
      background-color: lighten($bgColor, 2%);
    }

    .algolia-docsearch-suggestion--highlight {
      color: $accentColor;
      background-color: initial;
    }
  }

  .algolia-search-wrapper .algolia-autocomplete .ds-dropdown-menu .ds-cursor .algolia-docsearch-suggestion--content {
    background-color: $lightBgColor !important;
  }

  .algolia-autocomplete .ds-dropdown-menu:before {
    display: none;
  }
}
